*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}




/* Utility */

.debug *{
    border: 1px dashed black;
    
}


.container-full{
    width: 100%;
}

.container-medium{
    width: 80%;
    margin: auto;
}

.container-small{
    width: 70%;
    margin: auto;
    
    
}

.flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
    width: 100%;
    
}

.button-primary{
    background-color: #0061FF;
    color: white;
    font-size: small;

    padding: 3px 8px;
}

.bg-skyblue{
    background: #B4D0E7;
}


.font-small{
    font-size: small;
}

.title{
    font-size: 4rem;
}

.m-top{
    margin-top: 30px;
}


/* HEADER */


header.container-full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 10vh;
    background-color: whitesmoke;

    justify-content: space-between;
    align-items: center;
   
}

#logo-dropbox{
   height: 100%;
    
}

nav.link{
    height: 100%;
    align-items: center;
    
}


.link li{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 5px;
    
     
       
}


  nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}


/* MAIN */

main{
    margin-top: 10vh;
}


section{
    padding-top: 80px;
    
}


/* FIRST SECTION */

section h1{
    padding-bottom: 30px;
}

.first-group{
   max-width: calc(100% / 3);
   

   
}


.paragraph> *{
    margin-bottom: 20px;
}   



.jumbo> img{
    
    max-width: 100%;
    display: block;
    
}



/* SECOND SECTION */

.radio-box{
    margin: 30px 0;
}
.radio-box> input{
    vertical-align: middle;
}



.radio-box> span{
    padding-right: 80px;
}

.card{
    gap: 30px;

}

.card.group> div{
    width: calc(100% / 3);
        
}



.row{
    margin-bottom: 30px;
    gap: 10px;
    width: 100%;
    
}

/* Main > Section > ROW 1 */


.row.one{
    
    text-align: center;
    
}


/* ROW-2 */



.row> .price{
    font-weight: bold;
}

.row> .period{
    color: grey ;
}


.function{
    column-gap: 5px;
    
}

.border-list{
    width: 20%;
    border: 1px solid lightgrey;
    
}

.row.sixth> div{
    margin: 10px 0;
}

/* row 6 */

h5{
    margin-top: 30px;
}


/* CARD ALONE */


.button-alone{
    width: calc(100% / 3 - 20px );
    text-align: center;
    padding: 0 25px;
    
}

.card-alone{
    gap: 30px;
}

.card-alone> .row{
    flex-grow: 1;
    
}

.button-alone> .button-primary{
    width: 100%;
}

.paragraph-alone{
    margin-top: 30px;
}


/* TERZA SEZIONE */


.section-3 .col-1{
    width: calc(2 * 100% / 3);
}

.section-3 .col-2{
    width: calc(100% / 3);
    padding: 80px 60px;
    gap: 15px;
    
}

.img-col{
    width: 100%;
    display: block;
    
}

.button-section-3{
    margin-top: 15px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    
}


/* QUARTA SEZIONE */

.section-4{
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-4 .card{
    width: calc(100% / 3 - 30px);
    padding: 60px;
    
}


/* QUINTA SEZIONE */


.box{
    width: 100%;

}

.box-logo{
    min-width: calc(100% / 3);        
    flex-wrap: wrap;
    justify-content: center;
}

/* loghi quinta sezione */

.logo{
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
    align-items: center;
    padding: 20px;     
}


.logo> img{
    width: 100%;
    filter: invert(1);
    display: block;
}


.logo.designed{
    
    border: 10px solid #D1E9CD;
    background-color: #A2D39B;
}

.logo.asu{
    
    background-color:#61082B;   
}

.logo.florida{
    background-color: #0093CE;
}

.logo.uf-topps{
    background-color: #FF1C1C;
}

.logo.world{
    background-color: #D5001F;
}

.logo.hearts{
    background-color: #B4D0E7;
}

.logo.lonely{
    background-color: #0D2481;
}

.logo.clear{
    background-color: #FFD830;
}


.box-center{
    padding: 30px;
    background-color: #F5F5F5;
}

.box-center> div{
    gap: 40px;
    justify-content: center;
}

.box-center img{
    width: 50%;
    
}

/* SECTION 5 ROW 2 */

.row.two{
    background-color: #B4D0E7;
  
}


.title-trial{
    font-size: 1.1rem;
    color: #61082B;
    width: calc(100% / 2);
}

.section-fifth.row.two> div{
    padding: 80px;
    justify-content: center;
    gap: 30px;
}

.button-trial{
    align-items: start;
}

.button-trial> button{
    padding: 10px 40px;
}