*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
   
}


/* Utility */

.debug *{
    border: 1px dashed black;
    
}


.container-full{
    width: 100%;
}

.container-medium{
    width: 80%;
    margin: auto;
}

.container-small{
    width: 70%;
    margin: auto;
    
    
}

.flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
    width: 100%;
    
}

.button-primary{
    background-color: #0061FF;
    color: white;
    font-size: small;

    padding: 3px 8px;
}

.bg-skyblue{
    background: #B4D0E7;
}

.font-small{
    font-size: small;
}

.title{
    font-size: 4rem;
}

.m-top{
    margin-top: 30px;
}


/* HEADER */


header.container-full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 10vh;
    background-color: whitesmoke;

    justify-content: space-between;
    align-items: center;
   
}

#logo{
   height: 100%;
    
}

nav.link{
    height: 100%;
    align-items: center;
    
}


.link li{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 5px;
    
     
       
}


  nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}


/* MAIN */

main{
    margin-top: 10vh;
}


section{
    padding-top: 80px;
    
}


/* FIRST SECTION */

section h1{
    padding-bottom: 30px;
}

.first-group{
   max-width: calc(100% / 3);
   

   
}


.paragraph> *{
    margin-bottom: 20px;
}   



.jumbo> img{
    
    max-width: 100%;
    display: block;
    
}



/* SECOND SECTION */

.radio-box{
    margin: 30px 0;
}
.radio-box> input{
    vertical-align: middle;
}



.radio-box> span{
    padding-right: 80px;
}

.card{
    gap: 30px;

}

.card.group> div{
    width: calc(100% / 3);
        
}



.row{
    margin-bottom: 30px;
    gap: 10px;
    width: 100%;
    
}

/* Main > Section > ROW 1 */


.row.one{
    
    text-align: center;
    
}


/* ROW-2 */



.row> .price{
    font-weight: bold;
}

.row> .period{
    color: grey ;
}


.function{
    column-gap: 5px;
    
}

.border-list{
    width: 20%;
    margin-bottom: 30px;
    border: 1px solid grey;
    
}

.row.sixth> div{
    margin: 10px 0;
}


/* CARD ALONE */


.button-alone{
    width: calc(100% / 3 - 20px );
    text-align: center;
    padding: 0 25px;
    
}

.card-alone{
    gap: 30px;
}

.card-alone> .row{
    flex-grow: 1;
    
}

.button-alone> .button-primary{
    width: 100%;
}

.paragraph-alone{
    margin-top: 30px;
}


/* TERZA SEZIONE */


.section-3 .col-1{
    width: calc(2 * 100% / 3);
}

.section-3 .col-2{
    width: calc(100% / 3);
    padding: 80px 60px;
    gap: 15px;
    
}

.img-col{
    width: 100%;
    display: block;
    
}

.button-section-3{
    margin-top: 15px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid black;
    
}


/* QUARTA SEZIONE */

.section-4{
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-4 .card{
    width: calc(100% / 3 - 30px);
    padding: 60px;
    
}

