*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
   
}


/* Utility */

.debug *{
    border: 1px dashed black;
    
}


.container-full{
    width: 100%;
}

.container-medium{
    width: 80%;
    margin: auto;
}

.container-small{
    width: 70%;
    margin: auto;
    
}

.flex{
    display: flex;
}

.direction-column{
    flex-direction: column;
    
}

.button-primary{
    background-color: #0061FF;
    color: white;

    padding: 3px 8px;
}

.bg-skyblue{
    background: #B4D0E7;
}

.font-small{
    font-size: small;
}

.font-xxlarge{
    font-size: xx-large;
}


/* HEADER */


header.container-full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 10vh;
    background-color: whitesmoke;

    justify-content: space-between;
    align-items: center;
   
}

#logo{
   height: 100%;
    
}

nav.link{
    height: 100%;
    align-items: center;
    
}


.link li{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    margin: 0 5px;
    
     
       
}


  nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}


/* MAIN */

main{
    margin-top: 10vh;
}


section{
    padding-top: 80px;
}


/* FIRST SECTION */

section h1{
    padding-bottom: 30px;
}

.first-group{
   max-width: calc(100% / 3);
   justify-content: space-between;

   
}


.paragraph> *{
    margin-bottom: 20px;
}   



.jumbo> img{
    
    max-width: 100%;
    display: block;
    
}



/* SECOND SECTION */

.radio-box{
    margin: 30px 0;
}
.radio-box> input{
    vertical-align: middle;
}



.radio-box> span{
    padding-right: 80px;
}

.card.group{
    gap: 20px;

}

.card.group> div{
    width: calc(100% / 3);
    
    
    
}

.card-alone{

    width: 100%;
    height: 100px;
}

.card-alone{
    margin-top: 30px;
}

.row{
    margin-bottom: 25px;
    gap: 10px;
    padding: 0 10px;
    
}

/* Main > Section > ROW 1 */


.row.one{
    
    text-align: center;
    
}


/* ROW-2 */



.row> .price{
    font-weight: bold;
}

.row> .period{
    color: grey ;
}


.function{
    column-gap: 5px;
}

.border-list{
    width: 20%;
    border: 1px solid grey;
}