*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}


/* Utility */

.debug *{
    border: 1px dashed black;
    
}


.container.full{
    width: 100%;
}

.container.medium{
    width: 80%;
}

.container.small{
    width: 70%;
}

.flex{
    display: flex;
}

.button-primary{
    background-color: #0061FF;
    color: white;
}


/* HEADER */



header.container.full{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 10vh;
    background-color: whitesmoke;

    justify-content: space-between;
    align-items: center;
   
    
    
}

#logo{
   height: 100%;
    
}

nav.link{
    height: 100%;
    align-items: center;
    
}


.link li{
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding: 0 10px; 
    
     
       
}


  nav a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}



